<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header Fragment</title>
    <style>
        .header-container {
            text-align: center;
            margin: 20px 0;
        }
        .header-image {
            width: 200px;
            height: 225px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <!-- Fragment header -->
    <header th:fragment="header">
        <div class="header-container">
			
    <iframe src="https://drive.google.com/file/d/1Ot_07iboAgM3wVgtqhjUu0ym8pAwHrJ_/preview" width="640" height="480" allow="autoplay"></iframe>            <h1>Trang cá nhân của Choi Minh Văn 22110264</h1>
        </div>
    </header>
</body>
</html>
